@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);

body {
    padding: 20px 40px;
}

span {
    font-weight: normal;
    font-family: sans-serif;
}

.fa-star {
    padding: 12px 12px;
    color: white;
    background-color: green;
    border-radius: 7px;
}

.fa-envelope {
    padding: 12px 12px;
    color: white;
    background-color: orange;
    border-radius: 7px;
}